@import (reference) "bootstrap.less";
@import (reference) "overrides.less";
@import (reference) "variables.less";

h1.page-header {
  margin-bottom: 0;
}

#filter-box {
  .make-sm-column(4);
  .make-md-column(4);
  .make-lg-column(4);
}

.select-date, .select-year {
  .make-sm-column(3);
  .make-md-column(3);
  .make-lg-column(3);
}

.region.region-content.well {
  border: none;
  padding-top: 20px;
  margin-top: 0;
  background-color: inherit;
  font-size: 1.1em !important;
}


#safety-forms-archive-form {

  details {
    margin-bottom: 20px;
  }

  #unit_select_wrapper {
    clear: left;
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);
  }
    .button-cont {

      .btn-danger {
        color: #ffffff !important;
        margin-bottom: 15px;
        margin-left: 15px;
      }
    }

    #content {
      clear: left;
    }
}